body {
  margin: 0;
  background-color: black;
}

main {
  margin: 0;
  background-color: black;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  background-image: url("./images/header-img.jpeg");
  display: flex;
  flex-direction: column;
}
.homepage-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage {
  color: whitesmoke;
  font-family: DIN, Helvetica, Arial, sans-serif;
}

.sw-logoL {
  margin: 5vh;
  background-size: contain;
}

.topnav {
  display: flex;
  background-color: black;
  border: 1px solid #999;
  border-style: groove;
  width: 100%;
  justify-content: center;
}

.topnav a {
  border-right: 1px groove #999;
  text-decoration: none;
  color: #999;
  padding: 2vh;
}

.home {
  border-left: 1px groove #999;
}

.shipInfo-parent {
  display: flex;
  justify-content: center;
  background-color: black;
}

.shipInfo-div {
  color: #999;
  background-color: #191919;
  padding: 1vh;
  width: 80%;
  margin: 20px;
  align-items: center;
  border-radius: 10px;
}

.shipName {
  text-transform: uppercase;
  font-weight: bold;
}

.nav-login {
  display: flex;
  flex-direction: row;
}

.nav-login div {
  color: white;
}

.shipdetail-whole-div {
  color: whitesmoke;
  margin: 50px;
}

.shipdetail-characteristics {
  display: flex;
  flex-direction: row;
}
.shipdetail-characteristics div {
  padding-right: 10vh;
  flex-grow: 1;
}

.button-viewmore {
  background-color: #555555;
  border-radius: 12px;
  margin: 25px;
}
